<%- include("./partials/header") %>

<!-- Intro section -->
<div class="container my-auto" style="padding-top:25px;">
      <div class="row">
        <div class="mx-auto col-lg-6 col-md-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <img class="img-fluid mx-auto d-block img-thumbnail" src="https://shreyas15srivatsa.github.io/img/shreyas.png" style="">
        </div>
        <div class="col-md-6" style="padding-top:35px;">
        	<h4 data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" class="display-4" id="heading-font">
			  	Shreyas Srivatsa
			</h4>
          	<div class="row">
            	<div class="col-md-12">
              		<h2 data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" id="heading-font">
				  		University of Waterloo <br/> Computer Engineering
					</h2>
            	</div>
          	</div>
        </div>
      </div>
</div>

<!-- Divider -->
<div class="container">
	<hr>
</div>
<br/>

<!-- About Me section -->
<div class="container my-auto">
	<div class="row">
		<div class="col-md-4">
          <h6 id="heading-font" class="display-4">
				About Me
			</h6>
        </div>
		<div class="col-md-8">
			<p class="lead">
				I'm a 2nd year Computer Engineering Student at the University of Waterloo, graduating in May '23. I am a full-stack 					developer, a learning enthusiast, and a programming addict. I have a wide range of interests and skills, with an intent 				in backend development. I enjoy developing on both sides of the spectrum as it keeps me focused on efficiency and the 					user experience. As a co-op student, I’m looking forward to working with great companies, explore and learn new 						technologies which helps in my professional and personal growth
			</p>
		</div>
		
	</div>
	
	<!-- Divider -->
	<div class="container">
		<hr>
	</div>
	<br/>
	
	<!-- Education section -->
	<div class="row">
		<div class="col-md-4">
          	<h6 id="heading-font" class="display-4">
				Education
			</h6>
		</div>
		<div class="col-md-8">
			<h3>
				Computer Engineering, Honors
			</h3>
			<h4>
				Bachelor of Applied Science
			</h4>
			<p class="lead">
				Recepient of the Fall 2019 Term Dean's Honour List for securing a rank of 4(out of 75) <br/>
				Relevent coursework:
				<ul class="lead">
					<li>Data Structures and Algorithms - <strong>94%</strong></li>
					<li>Digital Computers - <strong>91%</strong></li>
					<li>Systems Programming and Concurrency - <strong>in progress</strong></li>
					<li>Discrete Mathematics and Logic 2 - <strong>in progress</strong></li>
				</ul>
			</p>
		</div>
	</div>
	
	<!-- Divider -->
	<div class="container">
		<hr>
	</div>
	<br/>

	<div class="container">
      <div class="row">
        <div class="col-md-4">
          	<h6 id="heading-font" class="display-4">
				Skills
			</h6>
		</div>
      </div>
      <div class="row">
        <div class="text-right col-md-6">
          <div class="row">
            <div class="text-lg-right text-left order-lg-1 col-lg-10 col-9">
              <h4>Languages</h4>
              <p class="lead">C, C++, Python, JavaScript, PHP7</p>
            </div>
          </div>
          <div class="row">
            <div style="margin-top:28px;" class="text-lg-right text-left order-lg-1 col-lg-10 col-9">
              <h4>Soft Skills</h4>
              <p class="lead">
				  Teamwork, familiar with Agile SDLC, developed communication skills through scrum and retro meetings, 
				  effective at cross team communication
				</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row">
            <div class="col-lg-10 col-9">
              <h4>Databases</h4>
              <p class="lead">SQL and NoSQL DB's such as MySQL, Redis, and MongoDB</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-9">
              <h4>Libraries & Tools</h4>
              <p class="lead">Node, Express, Laravel, Semantic UI, Passport, REST API & CRUD, jQuery, Jira, 
				  Testing frameworks (Mink, Selenium, Behat, PHPUnit)
			  </p>
            </div>
          </div>
        </div>
      </div>
    </div>

	<div class="container">
		<hr>
	</div>
	<br/>
	
	<!-- Hobbies section -->
	<div class="row">
		<div class="col-md-4">
          	<h6 id="heading-font" class="display-4">
				Hobbies
			</h6>
		</div>
		
		<div class="col-md-8">
			<p class="lead">
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 					aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 				aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</p>
			
			
	<div id="demo" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ul class="carousel-indicators">
		<li data-target="#demo" data-slide-to="0" class="active"></li>
		<li data-target="#demo" data-slide-to="1"></li>
		<li data-target="#demo" data-slide-to="2"></li>
	  </ul>

	  <!-- The slideshow -->
	  <div class="carousel-inner">
		<div class="carousel-item active">
		  <img class="img-fluid mx-auto d-block img-thumbnail"  src="https://images.unsplash.com/photo-1588890549226-179fe6e0a40e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Budapest, Hungary">
		<div class="carousel-caption d-md-block">
			<p>Budapest, Hungary</p>
		</div>
		</div>
		<div class="carousel-item">
		  <img class="img-fluid img-thumbnail"  src="https://images.unsplash.com/photo-1588891062307-e0b929a2694c?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Toronto, Canada">
		<div class="carousel-caption d-md-block">
			<p>Toronto, Canada</p>
		</div>
		</div>
		<div class="carousel-item">
		  <img class="img-fluid img-thumbnail"  src="https://images.unsplash.com/photo-1588891334566-fbdb5059f59e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1473&q=80" alt="Barcelona, Spain">
		<div class="carousel-caption d-md-block">
			<p>Barcelona, Spain</p>
		</div>
		</div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	  </a>

	</div>

		</div>

		</div>

	<div class="container">
		<hr>
	</div>
	<br/>

	<%- include("./partials/footer") %>

	<!-- Back to top button -->
	<a href="#" id="back-to-top"></a>  
	  
	  <script type="text/javascript">
		 
			var btn = $('#back-to-top');
			$(window).scroll(function() {
			  if ($(window).scrollTop() > 300) {
				btn.addClass('show');
			  } else {
				btn.removeClass('show');
			  }
			});

			btn.on('click', function(e) {
			  e.preventDefault();
			  $('html, body').animate({scrollTop:0}, '300');
			});
	  </script>